.highlights__wrapper {
    background: var(--sidebar-color);
    border-radius: 10px;
    padding: 9px 0 33px 0;
    width: 248px;
    height: 95px;
    text-align: center;
    transition: all 150ms ease-in-out;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
  }
  
  .highlights__wrapper:hover {
    transform: scale(1.1);
  }
  
  .highlights__subheading {
    color: var(--accent-font-color);
    font-weight: 300;
  }
  
  .highlights__body {
    font-weight: 400;
    font-size: 28px;
    margin-top: 29px;
  }
  
  .time {
    font-weight: 400;
    font-size: 16px;
  }
  
  .highlight__container {
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }