.sidebar__container {
    margin: 0 32px;
  }

  .main__img {
    display: block;
    max-width: 116px;
    margin: 51px auto;
  }

  .main__city {
    font-weight: 400;
    font-size: 20px;
    margin-top: 55px;
  }
  
  .main__temperature {
    font-weight: 400;
    font-size: 50px;
    margin-top: 45px;
  }
  
  .current__data {
    margin-top: 13px;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 13px;
  }
  
  .current__time {
    font-weight: 300;
    font-size: 13px;
  }
  
  .current__data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .weather__descr {
    font-weight: 400;
    font-size: 20px;
    margin-top: 25px;
  }
  
  .sidebar__subheading {
    margin-top: 25px;
  }
  
  hr {
    width: 195px;
    margin: 0 30px 0 1px;
  }